**/doc/api/ .dart_tool/ .flutter-plugins .flutter-plugins-dependencies .packages .pub-cache/ .pub/ /build/ **/android/.gradle **/android/app/.cxx/ **/ios/Flutter/ **/macos/Flutter/ **/linux/flutter/ **/windows/flutter/
